@import
url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');

body{
    background: #5F1C1C;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #611BBD;
    font-family: 'Baloo Da', cursive;
    font-weight: 900;
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.button {
    Position:relative; left: 45%;
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
    border-radius: 4px;
    margin: 10px 20px;
    width: 150px;
    font-size: 24px;
}

button {
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
    border-radius: 4px;
    margin: 10px 20px;
    width: 75px;
    font-size: 24px;
}

button:hover{
    transform: 3px, 3px;
}

.intro{
    color: #fff;
    margin: 1em 0;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.result{
    color: #fff;
    margin: 1em 0;
    width: 100%;
    font-size: 55px;
    text-align: center;
}

.correct {
    color: rgb(41, 189, 27);
    font-family: 'Baloo Da', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.wrong {
    color: rgb(189, 27, 81);
    font-family: 'Baloo Da', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin: 0;
}